{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}


{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="ticker" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="No. of Shares?" type="text">
        </div>
        <button class="btn btn-primary" type="submit">BUY</button>
    </form>
        <div>
            {% if balance  %}
            <table class="center">
                <tr>
                    <th scope="col">balance</th>
                    <th scope="col">Company</th>
                    <th scope="col">price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total (price x Quantity)</th>
                </tr>
                <tr>
                    <td>{{balance | usd}}</td>
                    <td>{{name}}</td>
                    <td>{{price | usd}}</td>
                    <td>{{quantity}}</td>
                    <td>{{total | usd}}</td>
                </tr>
            </table>
        {% endif %}
{% endblock %}